<!--Con *ngIf="pelicula" solo se va a construir en funcion de si existe la pelicula, si no
existe la pelicula esto no se contruye-->
<div *ngIf="pelicula" class="container main-container animated fadeIn fast">

    <h1>{{ pelicula.original_title }}</h1>

    <div class="row">

        <div class="col-md-5">
            <!--Le pongo en la pipe de peliculaImagen en true para que me muestre el poster de la pelicula-->
            <img [src]="pelicula | peliculaImagen:true" [alt]="pelicula.original_title" class="img-thumbnail img-fluid">
        </div>

        <div class="col-md-7">
            <h3>Sipnosis</h3>
            <hr>
            <p class="text-justify">{{ pelicula.overview }}</p>
            <h4>Frase celebre</h4>
            <p>{{ pelicula.tagline }}</p>
            <h4>Calificación</h4>
            <!--Le aplico la pipe number:".0-0" para que no me ponga decimales y me lo redondee-->
            <p>Popularidad: <span class="badge badge-primary">{{ pelicula.popularity | number:".0-0" }}/10</span>
                <br> Voto Promedio: <span class="badge badge-primary">{{ pelicula.vote_average }}</span>
            </p>

            <button [routerLink]="['/' + regresarA, busqueda]" type="button" class="btn btn-outline-danger">Regresar</button>
        </div>

    </div>

</div>